* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    max-height: 100vh;
    overflow-y: scroll; /* Enable vertical scroll */
    border-top: 1px solid #ccc;
}

li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.task-text {
    text-align: start;
}

.edit-btn, .delete-btn {
    color: #555;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.edit-btn:hover {
    color: #007bff;
}

.delete-btn:hover {
    color: #c82333;
}
